<!DOCTYPE html>
<html>
<head>
    <title>Create Menu Item</title>
</head>
<body>
<h1>Create New Menu Item</h1>
<form method="POST" action="/menu/create">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="number" name="price" placeholder="Price" required><br>
    <input type="text" name="category" placeholder="Category" required><br>
    <input type="number" name="discount" placeholder="Discount %" value="0"><br>
    <textarea name="description" placeholder="Description"></textarea><br>
    <button type="submit">Save</button>
</form>
</body>
</html>
